/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
/* общие калссы */
.button {
  position: relative;
  border: 2px solid var(--font-color);
  overflow: hidden;
  color: var(--font-color);
  font-family: var(--accent-font, monospace);
  font-weight: var(--text-font-weight);

  font-size: 14px;
  line-height: 12.6px;
  text-transform: capitalize;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button:focus-visible {
  box-shadow: 4px 4px 0 0 var(--font-color);
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  display: block;
  background-color: var(--font-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: 0 0;
}

.button:hover::before {
  transition: transform 0.5s ease-in-out;
  transform: scaleX(1);
}

.button__text {
  color: var(--btn-hover-font-color);
  mix-blend-mode: difference;
}
/* hover end */
.accent-text {
  font-family: var(--accent-font, monospace);
  text-transform: uppercase;
}

.container {
  margin-inline: auto;
  max-inline-size: 43.75rem;
}
/* body */
.page {
  position: relative;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif);
  font-variation-settings: "wght" var(--main-font-weight);
  color: var(--font-color);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-size: cover;
}
/* header */
.header {
  margin-block: 6.25rem;
  border: 2px solid var(--font-color);
  background-color: var(--bg-color);
  padding: clamp(7.5rem, 10vmax, 8.5rem) 0 25px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.header__logo-block {
  display: grid;
  gap: 20px;
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7768rem + 1.4286vw, 4.0625rem);
}

.header__title {
  font-size: clamp(0.875rem, 0.7143rem + 0.8036vw, 1.4375rem);
  text-align: center;
}

.theme-menu__list {
  display: grid;
  justify-items: start;
  gap: 11px;
  margin-inline-start: 20px;
}

.theme-menu__button {
  font-family: var(--accent-font, monospace);
  text-transform: uppercase;

  cursor: pointer;

  font-size: 14px;
  line-height: 14px;
  transition: opacity 0.3s;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s;
}
/* animation header arrow start*/
.theme-menu__item {
  position: relative;
}
.theme-menu__button::before {
  content: "▶";
  position: absolute;
  top: 0px;
  left: -21px;
  color: currentColor;
  display: none;
  animation: leftRight 0.5s ease-in-out infinite alternate;
}
.theme-menu__button:disabled::before {
  display: block;
}
/* animation header arrow end*/
/* animation bottom border start */
.theme-menu__button::after {
  content: "";
  display: flex;
  block-size: 2px;
  background-color: var(--font-color);
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: 0 0;
}
.theme-menu__button:focus-visible {
  opacity: 0.6;
}
.theme-menu__button:focus-visible::after {
  width: 100%;
  transform: scaleX(1);
}
/* animation bottom border end */
/* main */
.content {
  display: grid;
  gap: 50px;
}

.content__section {
  border: 2px solid var(--font-color);
  background-color: var(--bg-color);
}

.card__title {
  font-size: 18px;
  font-variation-settings: "wght" var(--title-font-weight);
  line-height: 21.78px;
  padding: 4px 10px 5px;
}

.card__figure {
  position: relative;
  border: 2px solid var(--font-color);
  padding: 0;
  margin: 0;
  display: grid;
  max-block-size: 700px;
}

.card__figure-label {
  opacity: 0.5;
  color: var(--font-color);
  line-height: 14px;
  font-size: 14px;
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: 23px;
  text-shadow: -1px 0 var(--bg-color), 0 1px var(--bg-color),
    1px 0 var(--bg-color), 0 -1px var(--bg-color);
  mix-blend-mode: hard-light;
  z-index: 99;
}
@supports (
  (text-stroke: 1px var(--bg-color)) or
    (-webkit-text-stroke: 1px var(--bg-color))
) {
  .card__figure-label {
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
    text-shadow: none;
  }
}

.card__content {
  padding: 25px 25px 27px;
  display: grid;
  gap: 25px;
}

.card__content-text {
  font-size: 18px;
  line-height: 21px;
}

.card__actions {
  padding: 0 25px 23px;
  display: flex;
  justify-content: end;
  gap: 6px;
}

.card__like-button {
  inline-size: 130px;
}
/* heart */
.card__icon-button:focus-visible {
  outline: 2px solid var(--font-color);
}
.card__icon-button .sparks {
  opacity: 0;
}
.card__icon-button:hover .core {
  fill: var(--font-color);
  transition: fill 0.3s ease;
  transition-delay: 0.03s;
}
.card__icon-button:active .core {
  fill: var(--sparks-color);
  transition: fill 0.3s ease;
  transition-delay: 0.03s;
}
.card__icon-button:hover .main-body {
  fill: var(--font-color);
  transition: fill 0.3s ease;
  transition-delay: 0.05s;
}
.card__icon-button:active .main-body {
  fill: var(--sparks-color);
  transition: fill 0.3s ease;
  transition-delay: 0.05s;
}
.heart {
  transform-origin: initial;
}
.core,
.main-body,
.sparks {
  fill: var(--bg-color);
}
.like-icon.is-liked .heart {
  animation: more 0.3s 0.1s 1 alternate ease-in;
}
.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s 1 alternate ease-in;
}
.like-icon.is-liked .core,
.like-icon.is-liked .main-body,
.like-icon.is-liked .contour,
.like-icon.is-liked .sparks {
  fill: var(--sparks-color);
}
/* footer */
.footer {
  margin-block-start: 50px;
  margin-block-end: 100px;
  display: grid;
  justify-items: center;
}

.footer__actions {
  inline-size: clamp(306px, 48%, 336px);
  display: grid;
}

.footer__button {
  padding-block: 15px;
  display: flex;
  gap: 8px;
  justify-content: center;
  background-color: var(--bg-color);
  align-items: center;
}

.footer__button-icon {
  display: flex;
  inline-size: 21px;
  block-size: 21px;
}

.footer__button-text:not(:first-child) {
  text-transform: none;
}
/* dialog */
.dialog {
  transition: opacity 0.3s ease-in-out;
  border: 2px solid var(--font-color);
  inline-size: clamp(341px, 91%, 357px);
  max-block-size: 191px;
  padding: 30px 42px;
  display: flex;

  position: fixed;
  inset: 0;
  z-index: 999;
  background-color: var(--bg-color);
  color: var(--font-color);
}

.dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog__form {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.dialog__content {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.dialog__icon {
  inline-size: 39px;
  block-size: 39px;
  flex-shrink: 0;
}
.dialog__text {
  font-size: 14px;
  line-height: 21px;
}
.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog__button {
  padding: 10px 20px;
}

@keyframes leftRight {
  from {
    top: 0;
    left: -21px;
  }
  to {
    top: 0;
    left: -17px;
  }
}
@keyframes more {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.5, 1.5);
  }
}
@keyframes sparks {
  from {
    fill: var(--bg-color);
    opacity: 0;
  }
  to {
    fill: var(--sparks-color);
    opacity: 1;
  }
}

.grayscale-img {
  filter: grayscale(75%);
}

.saturate-img {
  filter: saturate(400%);
}

.hue-rotate-img {
  filter: hue-rotate(30deg);
}

.invert-img {
  filter: invert(90%);
}

.sepia-img {
  filter: sepia(90%);
}

.blur-img {
  filter: blur(15px);
}

.hue-rotate-opacity-img {
  filter: hue-rotate(100deg) opacity(70%);
}

.no-txt-transform {
  text-transform: none;
}

@media (max-width: 375px) {
  .card__figure-label {
    inset-block-start: 20px;
    inset-inline-end: 10px;
  }
  .footer__actions {
    inline-size: clamp(306px, 48%, 335px);
    block-size: 80px;
    display: grid;
  }
  .footer__button-icon {
    display: flex;
    inline-size: 28px;
    block-size: 28px;
  }
  .footer__button {
    padding-block: 15px;
    display: grid;
    gap: 8px;
    justify-items: center;
    background-color: var(--bg-color);
  }
}
